{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieD</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="https://images-movied.s3.amazonaws.com/static/media/Design_sem_nome__5_-removebg-preview.png"/>
    <script src="https://kit.fontawesome.com/e598d51582.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'app/darkmode.js' %}"></script>
    <script src="{% static 'app/postagem.js' %}"></script>
    <script src="{% static 'app/follow.js' %}"></script>
    <script src="{% static 'app/profile.js' %}"></script>
    <script src="{% static 'app/personalization.js' %}"></script>
    <script src="{% static 'app/trend.js' %}"></script>
</html>