{% extends 'movied/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <button id="btn"><i class="fa-solid fa-moon"></i></button>
    </div>
</section>
<hl class="vl"></hl>
<section class="mid__section">
    <a href="{% url 'index' %}" class="logo__ancora"><img class="logo logo__suggestions" src="https://movied-bucket.s3.amazonaws.com/static/media/Design_sem_nome-removebg-preview.png" alt="logo do movied"></a>
    <div class="container4">
{% if profiles %}
    {% for profile in profiles.follows.all %}
        <div class="followers__card">
            {% if profile.profile_image %}
            <a href="{% url 'profile' profile.id %}"><img src="{{ profile.profile_image.url }}" class="foto__followers" alt="{{ profile.user.username }}"></a>
            {% else %}
            <a href="{% url 'profile' profile.id %}"><img src="https://movied-bucket.s3.amazonaws.com/static/media/default.jpg" class="foto__followers" alt="{{ profile.user.username }}"></a>
            {% endif %}
            <div class="nome__bio">
                {% if profile.isVerified %}
                <h3 class="username__followers">{{ profile.user.username }} <i class="fa-solid fa-circle-check"></i></h3>
                {% else %}
                <h3 class="username__followers">{{ profile.user.username }}</h3>
                {% endif %}
                {% if profile.bio %}
                <p class="bio__followers">{{ profile.bio }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
{% endif %}
</div>
</section>
<hl class="vl2"></hl>
<section>
</section>
{% endblock %}