{% extends 'movied/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <button id="btn"><i class="fa-solid fa-moon"></i></button>
    </div>
</section>
<hl class="vl"></hl>
<section class="mid__section">
    <a href="{% url 'index' %}" class="logo__ancora"><img class="logo" src="https://movied-bucket.s3.amazonaws.com/static/media/Design_sem_nome-removebg-preview.png" alt="logo do movied"></a>
    {% if counter > 2 %}
    <div class="header__wheel">
        <p id="winner">NONE</p>
    </div>
    </div>
    <div class="wheel">
        <canvas class="canvas" id="canvas" width="500" height="500">
        </canvas>
        <div class="center-circle" onclick="spin()" >
            <div class="triangle"></div>
    </div>    
    </div>
    <div class="inputArea" onchange="createWheel()">
        <textarea class="textarea__class">
        {% for list in user_lists %}
        {% for filme in list.filmes.all %}
        {{ filme.Series_Title }}
        {% endfor %}
        {% endfor %}
        </textarea>
    </div>
    {% endif %}
    <div class="container5">
        {% for list in user_lists %}
            {% for filme in list.filmes.all %}
            <div class="filme__div">
                <a href="{% url 'exclude_movie' filme.id %}" class="exclude_movie"><i class="fa-solid fa-circle-xmark"></i></a>
                <img class="poster__list" src="{{ filme.Poster_Link }}" alt="Poster do filme">
                <h2>{{ filme.Series_Title }}</h2>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    </section>
    <hl class="vl2"></hl>
    <section>
    </section>
    <script src="{% static 'app/spin.js' %}"></script>
{% endblock %}