{% extends 'movied/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <button id="btn"><i class="fa-solid fa-moon"></i></button>
    </div>
</section>
<hl class="vl"></hl>
<section class="mid__section">
    <a href="{% url 'index' %}" class="logo__ancora"><img class="logo" src="https://movied-bucket.s3.amazonaws.com/static/media/Design_sem_nome-removebg-preview.png" alt="logo do movied"></a>
    <div class="container4">
        
    </div>
    </section>
    <hl class="vl2"></hl>
    <section>
    </section>
    {% endblock %}