{% extends 'movied/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <button id="btn"><i class="fa-solid fa-moon"></i></button>
    </div>
</section>
<div class="vl"></div>
<section class="mid__section">
    <a href="{% url 'index' %}" class="logo__ancora"><img class="logo" src="https://movied-bucket.s3.amazonaws.com/static/media/Design_sem_nome-removebg-preview.png" alt="logo do movied"></a>
    {% for notifications in notification %}
    <div class="notificacao">
    <a href="{% url 'profile' notifications.notification_sender.id %}" class="notificacao__ancora">
    {% if notifications.notification_sender.profile.profile_image %}
    <img src="{{ notifications.notification_sender.profile.profile_image.url }}" class="foto__notification">
    {% else %}
    <img src="https://movied-bucket.s3.amazonaws.com/static/media/default.jpg" class="foto__notification">
    {% endif %}
    <p class="paragrafo__ancora">{{ notifications.notificacao }}</p>
    </div>
    </a>
    {% endfor %}
</section>
<div class="vl2"></div>
<section>
    
</section>

{% endblock %}