{% extends 'movied/base.html' %}
{% load static %}
{% block content %}

<section class="redirect">
<div>
    <button id="btn" title="botão darkmode"><i class="fa-solid fa-moon"></i></button>
</div>
<div class="buttons__preferences">
    <button class="btn__preferences" id="button-preferences">Your Account</button>
    <button class="btn__preferences" id="button-preferences">Personalization</button>
    <button class="btn__preferences" id="button-preferences">Privacy</button>
    <button class="btn__preferences" id="button-preferences">Notifications</button>
</div>
</section>
<div class="vl"></div>
<section>
    <div class="your__account">

    </div>
    <div class="personalization">
        
    </div>
    <div class="privacy">
        
    </div>
    <div class="notifications">
        
    </div>
</section>
<div class="vl2"></div>
<section>
</section>
{% endblock %}