{% extends 'movied/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <button id="btn"><i class="fa-solid fa-moon"></i></button>
    </div>
</section>
<hl class="vl"></hl>
<section>
    <div class="container3">
    <a href="{% url 'index' %}" class="logo__ancora"><img class="logo logo__suggestions" src="https://images-movied.s3.amazonaws.com/static/media/Design_sem_nome-removebg-preview.png" alt="logo do movied"></a>
    <div class="forms">
        <form action="{% url 'profileedit' profiles.user.id %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="image__preview" id="imagePreview"></div>
            <input class="profile_picture" type="file" name="profile_picture" onchange="previewImage(event)">
            <input class="input__profile" type="text" placeholder="username" name="nome">
            <textarea class="input__profile__bio" type="text" placeholder="bio" name="bio" maxlength="80"></textarea>
            <input class="input__profile__post" type="submit" value="Save">
        </form>
    </div>
</div>
</section>
<hl class="vl2"></hl>
<section>
</section>
{% endblock %}