{% extends 'movied/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <button id="btn"><i class="fa-solid fa-moon"></i></button>
    </div>
</section>
<hl class="vl"></hl>
<section>
    <div class="container3">
    <a href="{% url 'index' %}" class="logo__ancora" id="logo__ancora"><img class="logo logo__search" src="{% static '/img/Design_sem_nome-removebg-preview.png' %}" alt="logo do movied"></a>
    <div class="buttons">
        <button class="search__all">All</button>
        <button class="search__reviews">Reviews</button>
        <button class="search__users">Users</button>
    </div>
    {% for postagem in posts %}
                <div class="quem">
                {% if postagem.user.profile.profile_image %}
                <div id="container2">
                    <a href="{% url 'profile' postagem.user.id %}"><img class="foto__perfil" src="{{ postagem.user.profile.profile_image.url }}" class="foto__perfil-post" alt="foto de perfil"></a>
                </div>
                {% else %}
                <div id="container2">
                    <a href="{% url 'profile' postagem.user.id %}"><img src="{% static 'img/default.jpg'%}" class="foto__perfil" alt="foto de perfil"></a>
                </div>
                {% endif %}
                <p class="postagem__data"><strong>{{ postagem.user }}</strong> • {{ postagem.data_postagem }}</p>
                {% if postagem.user == request.user %}
                <a href="{% url 'deletar_postagem' postagem.id %}" class="remove__post"><i class="fa-solid fa-trash"></i></a>
                {% else %}
                <a href="{% url 'reportar_postagem' postagem.id %}" class="report__post"><i class="fa-solid fa-triangle-exclamation"></i></a>
                {% endif %}
                </div>
            <div class="paragrafo">
                <p class="postagem__paragrafo">{{ postagem.comentario }}</p>
            </div>
            <div class="filme__opcoes">
                {% if user in postagem.likes.all %}
                <p data-post-id="{{ postagem.id }}" class="number__likes">{{postagem.number_of_likes}}</p><a href="{% url 'postagem_like' postagem.id %}" class="filme__like" data-post-id="{{ postagem.id }}" data-csrf-token="{{ csrf_token }}"><i class="fa-solid fa-heart"></i></a>
                {% else %}
                <p data-post-id="{{ postagem.id }}" class="number__likes">{{postagem.number_of_likes}}</p><a href="{% url 'postagem_like' postagem.id %}" class="filme__like" data-post-id="{{ postagem.id }}" data-csrf-token="{{ csrf_token }}"><i class="fa-regular fa-heart"></i></a>
                {% endif %}
                <p class="comentarios__length">{{ postagem.comentarios_postagem.all.count }}</p><a href="{% url 'comentarios' postagem.id %}" class="filme__comment"><i class="fa-regular fa-comment"></i></a>
                <a href="#" class="filme__save"><i class="fa-regular fa-bookmark"></i></a>
            </div>
        {% endfor %}
        {% for profile in users %}
            <div class="followers__card">
                {% if profile.profile.profile_image %}
                <a href="{% url 'profile' profile.id %}"><img src="{{ profile.profile.profile_image.url }}" class="foto__followers" alt="{{ profile.user.username }}"></a>
                <div class="nome__bio">
                    <h3 class="username__followers">{{ profile.username }}</h3>
                    {% if profile.profile.bio %}
                    <p class="bio__followers">{{ profile.profile.bio }}</p>
                    {% endif %}
                </div>
                {% else %}
                <a href="{% url 'profile' profile.id %}"><img src="{% static 'img/default.jpg'%}" class="foto__followers" alt="{{ profile.user.username }}"></a>
                <div class="nome__bio">
                    <h3 class="username__followers">{{ profile.username }}</h3>
                    {% if profile.profile.bio %}
                    <p class="bio__followers">{{ profile.bio }}</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
<hl class="vl2"></hl>
<section>
</section>
<script src="{% static 'app/search.js' %}"></script>
{% endblock %}